.user-details {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.user-details .card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
    border: none;
}

.user-details .card-body {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
