.update-user-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.action-buttons button {
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 5px;
}
