<div mat-dialog-content class="update-user-form">
  <h1 mat-dialog-title style="color: #6c757d;">Mise à Jour du Profil</h1>

  <mat-form-field appearance="fill" class="w-100 mb-4">
    <mat-label>Nom d'utilisateur</mat-label>
    <input matInput placeholder="Entrez le nom" [(ngModel)]="user.name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-4">
    <mat-label>Profession</mat-label>
    <input matInput placeholder="Entrez l'occupation" [(ngModel)]="user.occupation">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-4">
    <mat-label>Adresse E-mail</mat-label>
    <input matInput placeholder="Entrez l'email" [(ngModel)]="user.email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-4">
    <mat-label>Biographie</mat-label>
    <input matInput placeholder="Entrez la bio" [(ngModel)]="user.bio">
  </mat-form-field>
</div>

<div mat-dialog-actions class="action-buttons">
  <button mat-button style="background-color: #6c757d; color: white;" (click)="onNoClick()">Annuler</button>
  <button mat-button color="primary" (click)="onSaveClick()">Enregistrer</button>
</div>
