.add-user-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: #f8f9fa;
}

.add-user-form .form {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin-top: 25px;
    background-color: #4a90e2;
    color: white;
}
.submit-button:hover {
    background-color: #3a7bd5;
}
