
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-5">
     
      <div class="card">
        <h1> TP ZAKI AITYOUNES</h1>
        <div class="card-body">
          <h2 class="card-title text-center">Connexion</h2>
            <form (ngSubmit)="onLogin()">
              <div class="form-group">
                <label for="email">Adresse E-mail</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="credentials.email" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Mot de Passe</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="credentials.password" name="password" required>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <button type="submit" class="btn btn-primary w-100">Se Connecter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
