.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fafafa;
}
h1{
  color: #288ba7;
  font-weight: bold;

}

.card-title {
  margin-bottom: 20px;
  color: #4a76a8;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #cfd8dc;
}

.btn-primary {
  background-color: #4a76a8;
  border: none;
}

.btn-primary:hover {
  background-color: #39608a;
}
