h1{
  color: #28a745;
  font-weight: bold;

}
h2{
  font-weight: bold;
  color: black;

}
.custom-table table {
    font-weight: bold;
  }
  
  .custom-table th, .custom-table td {
    text-align: center;
  }

.btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: black;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  