<div class="container mt-4">
  <div class="text-center mb-4">
    <h1> TP ANGULAR ZAKI AITYOUNES</h1>
    <h2>Liste des utilisateurs</h2>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Recherche..." class="form-control me-3" style="max-width: 300px;">
    <button mat-button (click)="openAddUserModal()" class="btn btn-outline-success">Nouvel Utilisateur</button>
  </div>

  <div class="mat-elevation-z8 custom-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef> Occupation </th>
        <td mat-cell *matCellDef="let user"> {{user.occupation}} </td>
      </ng-container>
  
      <ng-container matColumnDef="bio">
        <th mat-header-cell *matHeaderCellDef> Bio </th>
        <td mat-cell *matCellDef="let user"> {{user.bio}} </td>
      </ng-container>
  

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-button (click)="openDetails(user.id)" class="btn btn-info me-2">Détails</button>
          <button mat-button (click)="openUpdateModal(user)" class="btn btn-outline-primary me-2">Éditer</button>
          <button mat-button (click)="deleteUser(user.id)" class="btn btn-outline-danger">Effacer</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" class="mt-4"></mat-paginator>
  </div>
  