/* Importation d'autres fichiers de style */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* Styles globaux */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: 'Nunito', sans-serif; 
  background-color: #f4f4f4; 
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
}

a {
  color: #7851a9;
}

a:hover {
  color: #5a3791;
}

.btn-primary {
  background-color: #7851a9;
  border-color: #7851a9;
}

.btn-primary:hover {
  background-color: #5a3791;
  border-color: #5a3791;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
}
